<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybjzo2o.customer.mapper.AddressBookMapper">

    <select id="defaultAddress" resultType="com.ybjzo2o.api.customer.dto.response.AddressBookResDTO">
        select * from address_book where user_id=#{userId} and is_default=#{isDefault}
    </select>
</mapper>
